__pycache__/
*.py[cod]
DTLarchive-output/
build/
dist/
*.spec

/logs/
DTLarchive-index.sqlite
DTLarchive-index.sqlite-shm
DTLarchive-index.sqlite-wal

/tests/

/test_dtlarchive_i18n.py

/test_dtlarchive_i18n_dtli18n_backup.py

/DTLarchive_dtli18n_backup.py
